.hero{
margin-top: -50px;
}
.hero img{
  width: 425px;
  height: 544px;
  margin-left: 220px;
  margin-top: 70px;
}
.hero h3{
  position: absolute;
  margin-top: -500px;
  margin-left: 380px;
  font-size: 30px;
}
.hero h6{
  position: absolute;
  margin-top: -460px;
  margin-left: 490px;
  color: rgba(0, 0, 0, 0.763);
  font-size: 15px;
}
.hero::before {
  content: '';
  position: absolute;
  top: 70%;
  
  width: 100%; /* Adjust the width to change the amount of black background */
  height: 50%;
  background: linear-gradient(to right, black 0%, black 100%, transparent 100%, transparent 100%);
  z-index: -1;
}
.left{
  position: absolute;
  margin-top: -460px;
  margin-left: 770px;
  color: rgba(0, 0, 0, 0.763);
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  
}
.left h5{
  margin-top: -12px;
  font-size: 20px;
}
.left h1{
  font-size: 37px;
  width: 300px;
}
.left h2{
  margin-top: -21px;
  font-size: 37px;
  color: rgb(255, 43, 43);
}
.button-57 {
  margin-left: 900px;
  margin-top: -200px;
  position: absolute;
  overflow: hidden;
  border: 1px solid #18181a;
  color:  rgb(239, 9, 9);;
  display: inline-block;
  height: 35px;
  font-size: 15px;
  line-height: 15px;
  width: 140px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(239, 9, 9);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
